<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BeVietnamPro-Regular.ttf</string>
		<string>BeVietnamPro-Black.ttf</string>
		<string>BeVietnamPro-BlackItalic.ttf</string>
		<string>BeVietnamPro-Bold.ttf</string>
		<string>BeVietnamPro-BoldItalic.ttf</string>
		<string>BeVietnamPro-ExtraBold.ttf</string>
		<string>BeVietnamPro-ExtraBoldItalic.ttf</string>
		<string>BeVietnamPro-ExtraLight.ttf</string>
		<string>BeVietnamPro-ExtraLightItalic.ttf</string>
		<string>BeVietnamPro-Italic.ttf</string>
		<string>BeVietnamPro-Light.ttf</string>
		<string>BeVietnamPro-LightItalic.ttf</string>
		<string>BeVietnamPro-Medium.ttf</string>
		<string>BeVietnamPro-MediumItalic.ttf</string>
		<string>BeVietnamPro-SemiBold.ttf</string>
		<string>BeVietnamPro-SemiBoldItalic.ttf</string>
		<string>BeVietnamPro-Thin.ttf</string>
		<string>BeVietnamPro-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
